# 环境变量模板

# 数据库
DATABASE__USER=<user>
DATABASE__PASSWORD=<password>

# 通信服务
COMMUNICATION__TOKEN__SECRET=<secret>

# LLM 配置
LLM__API_KEY=<api_key>

# Milvus 的 Zilliz 云服务配置(可选)
MILVUS__CLOUD__URL=<url>
MILVUS__CLOUD__TOKEN=<token>

# Milvus 的本地配置
MILVUS__LOCAL__HOST=<host>
MILVUS__LOCAL__PORT=0

# LangSmith 配置
LANGCHAIN_TRACING=true
LANGCHAIN_API_KEY=<api_key>
LANGSMITH_ENDPOINT=<endpoint>
LANGCHAIN_PROJECT=<project>

# Redis 配置
REDIS__HOST=<host>
REDIS__PORT=0
REDIS__USERNAME=<username>
REDIS__PASSWORD=<password>

# 代码能力配置
CODE_ABILITY__GITHUB_TOKEN=<token>
CODE_ABILITY__GITEE_TOKEN=<token>

# 对话代理模型
CONVERSATION__AGENT__API_KEY=<api_key>

# neo4j 云服务配置
NEO4J__URL=<url>
NEO4J__USERNAME=<user>
NEO4J__PASSWORD=<password>

#禁用LiteLLM远程获取，直接使用本地缓存
LITELLM_LOCAL_MODEL_COST_MAP=True