# 环境变量模板

# 数据库
DATABASE__USER=<user>
DATABASE__PASSWORD=<password>

# 通信服务
COMMUNICATION__TOKEN__SECRET=<secret>

# LLM 配置
LLM__API_KEY=<api_key>
LITE_LLM__API_KEY=<api_key>
LITE_LLM__QWEN_API_KEY=<api_key>
LITE_LLM__DEEPSEEK_API_KEY=<api_key>

#禁用LiteLLM远程获取，直接使用本地缓存
LITELLM_LOCAL_MODEL_COST_MAP=True