.venv/
.idea/
.vscode/
.jbeval/
node_modules/
logs/
tests/
temp/
temp*/
poetry.lock
package-lock.json
*.pyc
__pycache__/
*_reference.*
*.http
conversation/

# 环境变量文件
.env
.env.local
.env.*.local

# 环境变量文件模板
!.env.example