<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.careerplanningbackend.mapper.UserMapper">
    <insert id="register">
        INSERT INTO user (username, password, email)
        VALUES (#{username}, #{password}, #{email})
    </insert>
    <update id="forget">
        
    </update>
    <update id="edit">
        
    </update>
    <update id="updateAvatar">
        
    </update>
    <!--    <sql id="baseColumn">-->
<!--        id, username, nickname, email, avatar, status, create_time, update_time-->
<!--    </sql>-->

    <select id="login" resultType="com.backend.careerplanningbackend.domain.po.User">
        SELECT id, username, password, email
        FROM user
        WHERE username = #{username} AND password = #{password}
    </select>
    <select id="selectByUsername" resultType="com.backend.careerplanningbackend.domain.po.User">
        SELECT id, username, password, email,status
        FROM user
        WHERE username = #{username}
    </select>
    <select id="selectByEmail" resultType="com.backend.careerplanningbackend.domain.po.User">
        SELECT id, username, password, email
        FROM user
        WHERE email = #{email}
    </select>
    <select id="getUserAllInfo" resultType="com.backend.careerplanningbackend.domain.po.User">
        
    </select>
    <select id="getUserInfo" resultType="com.backend.careerplanningbackend.domain.dto.UserDTO">
        
    </select>
    <!--    <update id="edit">-->
<!--        UPDATE user-->
<!--        <set>-->
<!--            <if test="username != null">username = #{username},</if>-->
<!--            <if test="nickname != null">nickname = #{nickname},</if>-->
<!--            <if test="avatar != null">avatar = #{avatar},</if>-->
<!--            <if test="email != null">email = #{email},</if>-->
<!--            <if test="info != null">info = #{info},</if>-->
<!--        </set>-->
<!--        <where>-->
<!--            id = #{id}-->
<!--        </where>-->
<!--    </update>-->
</mapper>